* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
}

main {
    background-color: lightgoldenrodyellow;
    width: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.box {
    width: 25vh;
    height: 25vh;
    border: 1px solid black;
    font-size: 10vh;
    color: black;
    font-family: monospace;
}

#score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35vh;
    padding-right: 35vh;
}

 input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.player {
    width: 25vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start {
    width: 25vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
